h1{
    border: 3px solid purple;
    border-radius: 20px;
}

p{
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px dotted orange;
    border-right: 3px dotted green;
    border-radius: 15px;
}