h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: #ffff7a;
}

p::selection{
    color: green;
    background-color: darkgray;
}

#maca::after{
    content: "🍎";
}

#laranja::after{
    content:"🍊";
}

#banana::after{
    content: "🍌";
}

#fruit li::marker{
    content: "✓";
    color: lightgreen;
}