*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

header{
    background-color: #d3d3d3;
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: #4d4d4d;
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

main{
    display: flow-root;
}

footer{
    display: block;
    background-color: #d3d3d3;
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px) {
    aside, section, article{
        width: 100%;
    }
}