*{
    box-sizing: border-box;
}

.box{
    border: 1px solid red;
    background-color: white;
    padding: 25px;
    height: auto;
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
    min-height: 125px;
}

.container{
    background-color: gray;
    height: 80vh;
}