body{
    margin: 0px;
}

.box{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 5em;
    margin: auto;
}

#box1{
    background-color: #e66666;
}

#box2{
    background-color: #8282e7;
}